nav{
    background-color: cadetblue;
    padding: 20px;
}
nav a {
    display: inline;
    background-color:black;
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
}
table tr{
    box-shadow: 0 0 2px;
    border-style: groove;
    border-color: solid black;
}
tr :hover{
    background-color: chartreuse;
}
tr:nth-child(even){
    background-color: chocolate;
}
tr:nth-child(odd){
    background-color:burlywood;
}